### All the things you need to know to start with Python

In [1]:
#let's start with the first every concept in programming language
#by now, you should have python3 installed in your system

print("hello world")

#a traditional belief in programming world, that starting with this brings luck. So goodluck to you

hello world

congrats, you're now a programmer, so where do we move on next?

### Strings

it is a data type. it can be used in many ways and are quite simple.

we can refer to strings as a series of characters. Thus anything inside quote are referred to as strings

In [2]:
#example of a string

print('I told him that "Messi seems to be the best player", on planet earth.')

I told him that "Messi seems to be the best player", on planet earth.

In [3]:
#we can use strings in various ways

name = "ada mbaku" #cahnging case in string
print(name.title()) #watch the output 

#title() method cahnges our first characters to caplock

Ada Mbaku

i mentioned new concepts here. method. a method is an action that python can perform on a piece of data. you can notice that i used the dot(.) option to tell title to act on the variable name.

title displays each word in titlecase, that is each word begins with capital letter

In [4]:
#let us practice more methods

print(name.upper())
print(name.lower())

ADA MBAKU
ada mbaku

### Concatenating or combining strings

In [5]:
#let's imagine a case where you want to store and combine the first and last name together.

first_name = "Emeka" #you can use anything for yours
last_name = "Johnson"

combined_name = first_name + " " + last_name #we added a line space using " "
print(combined_name)

#python uses the (+) to combine strings.this method of combining strings is refered to as concatenation

Emeka Johnson

In [6]:
#let's make it all caplock

print(combined_name.upper())

EMEKA JOHNSON

In [7]:
print("Hello"+ " " + combined_name.title() + "!")

Hello Emeka Johnson!

in Programming, whitespace refers to non printing character like space, tabs etc.

In [8]:
print("python")
print("\tpython")
print("python \nis the best\nlangauage ever")

python
	python
python
is the best
langauage ever

In [9]:
#sometimes while working with strings, whitespace can occur at places you don't want. it is  good to make sure you remove it

name = "calistus "
name

name.rstrip() #this removes the whitespace found at the right side of the variable

'calistus'

In [10]:
name = "kudo's"
print(name)

kudo's

In [11]:
kasie = "\tonce you have seen life's trouble, \n\tthen success is on it's way"
print(kasie)

	once you have seen life's trouble,
	then success is on it's way

### Number

In [12]:
#integers, python allows us to do numerical calculation on integer values

print(2+3)
print(2**3)#2 raise to the power of 3

5
8

In [13]:
#float, this are numbers with decimal points in python
print(0.32 + 0.234)
print(78.4+23.4)

0.554
101.80000000000001

In [14]:
age = 34
message = "guy " + "happy " + str(age)+ "rd birthday"
print(message)

guy happy 34rd birthday

In [15]:
message.strip()

'guy happy 34rd birthday'

In [16]:
print(3+5)
print(2*4)

print(16/2)

8
8
8.0

In [17]:
messi = 16-8
message = "can Messi win his " + str(messi) + " ballon d'or?"
print(message)

can Messi win his 8 ballon d'or?

In [18]:
#splitlines splits our message across lines
message_type = message.splitlines()
print(message_type)

["can Messi win his 8 ballon d'or?"]

In [19]:
#split functions like its name, but this time splits accross words
message.split()

['can', 'Messi', 'win', 'his', '8', 'ballon', "d'or?"]

In [20]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### Welcome to List

#### Part 2

Brief intro, list allows you to store set of information in one place, whether just a few items or a millions.

In [21]:
#let's create a list of individual players

barca = ['messi', 'jong', 'suarez', 'dembele', 'busquet']
print(barca)

print('\n')

#accessing indiviual players name
print(barca[0].title())

['messi', 'jong', 'suarez', 'dembele', 'busquet']


Messi

At this point, you might have wondered while we started at index [0] instead of the usual 1.

python considers the first item in a list to be at position 0.

In [22]:
print(barca[1].title()) #returns the 2nd element in the list
print(barca[2].title()) #returns the 3rd element in the list

Jong
Suarez

In [23]:
print(barca[-1].title()) # accessing the last element in the list. python made it possible for us to do this, in cases where we are unfamiliar with the information which usually the case

Busquet

In [24]:
# let us create a message from an element in the list
message = "Emeka " + "prefer's " + "playing "+barca[0].title()+" as a striker"
print(message)

Emeka prefer's playing Messi as a striker

In [25]:
#changing, adding or removing elements

cars = ['benz', 'bmw', 'pigeot', 'ford', 'telsa']
print(cars)

cars[0] = 'ducati' #changing and modifying the first element in my list
print('\n')
print(cars)

['benz', 'bmw', 'pigeot', 'ford', 'telsa']


['ducati', 'bmw', 'pigeot', 'ford', 'telsa']

In [26]:
#you can as well add a new element in the list
#the simplest way to do this is to append the item to the list

cars.append('volvo') #using append method to build our list values
print(cars)

['ducati', 'bmw', 'pigeot', 'ford', 'telsa', 'volvo']

In [27]:
names_guys = []

names_guys.append('emeka')
names_guys.append('jeffman')
names_guys.append('Arinze')
print(names_guys)

['emeka', 'jeffman', 'Arinze']

In [28]:
#inserting new element in a list
#this enables us to add any element in any position in our list
cars = ['benz', 'bmw', 'pigeot', 'ford', 'telsa']
cars.insert(0, 'Toyota') #places the new element in the index position 0
print(cars)

['Toyota', 'benz', 'bmw', 'pigeot', 'ford', 'telsa']

In [29]:
#let us try the del method i.e deleting

cars = ['benz', 'bmw', 'pigeot', 'ford', 'telsa']

del cars[2]
print(cars)

['benz', 'bmw', 'ford', 'telsa']

In [30]:
# we can use the pop method to remove the last item from a list 
# but we can still access the last element the list later

cars = ['benz', 'bmw', 'pigeot', 'ford', 'telsa']
popped_cars = cars.pop()
print(cars)
print(popped_cars) #showing that we can still access the popped element unlike the del case

['benz', 'bmw', 'pigeot', 'ford']
telsa

In [31]:
cars = ['benz', 'bmw', 'pigeot', 'ford', 'telsa']
popped_cars = cars.pop()
print("the last car i bought was "+ popped_cars.title()+".")

the last car i bought was Telsa.

In [32]:
#we can use remove method once we are sure of the value we want to remove

cars = ['benz', 'bmw', 'pigeot', 'ford', 'telsa']
cars.remove('pigeot')
print(cars)

['benz', 'bmw', 'ford', 'telsa']

In [33]:
dinner_meal = ['obu', 'omeye', 'demba']
print(dinner_meal[0]," you're welcome to our first dinner meal")

print(dinner_meal[1]," you're welcome to our first dinner meal")

print(dinner_meal[2]," you're welcome to our first dinner meal")

obu  you're welcome to our first dinner meal
omeye  you're welcome to our first dinner meal
demba  you're welcome to our first dinner meal

In [34]:
print(dinner_meal[2]," can't make it to dinner meal")

dinner_meal = ['obu', 'omeye', 'demba']

dinner_meal.remove('demba')

dinner_meal.append('Mekus')

print(dinner_meal[0]," you're welcome to our first dinner meal")

print(dinner_meal[1]," you're welcome to our first dinner meal")

print(dinner_meal[2]," you're welcome to our first dinner meal")

demba  can't make it to dinner meal
obu  you're welcome to our first dinner meal
omeye  you're welcome to our first dinner meal
Mekus  you're welcome to our first dinner meal

In [35]:
dinner_meal.insert(3,'abada')
dinner_meal.insert(4,'tony')
dinner_meal.insert(0,'egenti')
dinner_meal.append('uche')

print(dinner_meal[0]," you're welcome to our first dinner meal")
print('\n')
print(dinner_meal[1]," you're welcome to our first dinner meal")
print('\n')
print(dinner_meal[2]," you're welcome to our first dinner meal")
print('\n')
print(dinner_meal[3]," you're welcome to our first dinner meal")
print('\n')
print(dinner_meal[4]," you're welcome to our first dinner meal")
print('\n')
print(dinner_meal[5]," you're welcome to our first dinner meal")
print('\n')
print(dinner_meal[6]," you're welcome to our first dinner meal")

egenti  you're welcome to our first dinner meal


obu  you're welcome to our first dinner meal


omeye  you're welcome to our first dinner meal


Mekus  you're welcome to our first dinner meal


abada  you're welcome to our first dinner meal


tony  you're welcome to our first dinner meal


uche  you're welcome to our first dinner meal

In [36]:
print(dinner_meal)

['egenti', 'obu', 'omeye', 'Mekus', 'abada', 'tony', 'uche']

In [37]:
print("sorry i can only afford inviting two people for dinner")

print('\n')

popped_1 = dinner_meal.pop()
print(popped_1.title() + " sorry i can't invite you now")

popped_2 = dinner_meal.pop()
print(popped_2.title() + " sorry i can't invite you now")
popped_3 = dinner_meal.pop()
print(popped_3.title() + " sorry i can't invite you now")
popped_4 = dinner_meal.pop()
print(popped_4.title() + " sorry i can't invite you now")
popped_5 = dinner_meal.pop()
print(popped_5.title() + " sorry i can't invite you now")

print('\n')
print(dinner_meal)



print(dinner_meal)

sorry i can only afford inviting two people for dinner


Uche sorry i can't invite you now
Tony sorry i can't invite you now
Abada sorry i can't invite you now
Mekus sorry i can't invite you now
Omeye sorry i can't invite you now


['egenti', 'obu']
['egenti', 'obu']

In [38]:
dinner_meal

['egenti', 'obu']

In [39]:
del dinner_meal[0]
del dinner_meal[0]

In [40]:
print(dinner_meal)

[]

### sorting our list

In [41]:
print(cars)

['benz', 'bmw', 'ford', 'telsa']

In [42]:
#let us see how python sort methods works

cars.sort()#permanent way of sorting our list values
print(cars)

['benz', 'bmw', 'ford', 'telsa']

In [43]:
#sorting in reverse alphabetical order

In [44]:
cars.sort(reverse=True) #cahnging the ordering of our list values
print(cars)

['telsa', 'ford', 'bmw', 'benz']

In [45]:
#sorted is used when we want to make a temporary sorting in our list

print("Here is the orginial list of cars:")
print(cars)

print("\n Here is the sorted list of cars")
print(sorted(cars))

print("\n")
print(cars)

Here is the orginial list of cars:
['telsa', 'ford', 'bmw', 'benz']

 Here is the sorted list of cars
['benz', 'bmw', 'ford', 'telsa']


['telsa', 'ford', 'bmw', 'benz']

In [46]:
print(cars)

cars.reverse() #it simply reverses the ordering of a list and not sorting
print(cars)

['telsa', 'ford', 'bmw', 'benz']
['benz', 'bmw', 'ford', 'telsa']

In [47]:
#finding the length of a list

len(cars)

4

In [48]:
place_visit = ['america', 'london', 'nyc', 'rwanda', 'carlifonia']
print(place_visit)
print("\n")
print(sorted(place_visit))
print("\n")
print(place_visit)
print("\n")
place_visit.reverse()
print(sorted(place_visit))

['america', 'london', 'nyc', 'rwanda', 'carlifonia']


['america', 'carlifonia', 'london', 'nyc', 'rwanda']


['america', 'london', 'nyc', 'rwanda', 'carlifonia']


['america', 'carlifonia', 'london', 'nyc', 'rwanda']

In [49]:
print(place_visit)

['carlifonia', 'rwanda', 'nyc', 'london', 'america']

In [50]:
print(len(dinner_meal))
print(len(place_visit))

0
5

In [51]:
print(place_visit[4])

america

### Working with list

I will focus on how to work on a list intuitively by performing looping task to evaluate elements in our list.
when you want to do the same action with every item in a list, you can use python for loop

In [52]:
place_visit = ['america', 'london', 'nyc', 'rwanda', 'carlifonia']

#let us use a for loop to print out each places we had visited

for place in place_visit:
    print(place.title() + ", welcome to your dream land.")
    print("i can't wait to see you again in " + place.title()+'\n')#using title to capitalize the first word
print("Thank you once more, have a nice stay!")
#how it works, python moves on the list, prints each element at a time till it encounters nothing again on the list

America, welcome to your dream land.
i can't wait to see you again in America

London, welcome to your dream land.
i can't wait to see you again in London

Nyc, welcome to your dream land.
i can't wait to see you again in Nyc

Rwanda, welcome to your dream land.
i can't wait to see you again in Rwanda

Carlifonia, welcome to your dream land.
i can't wait to see you again in Carlifonia

Thank you once more, have a nice stay!

In [53]:
pizza_list = ['okpa', 'agidi','moi-moi']

#using the for loop to print each pizza name

for pizza in pizza_list:
    print("this pizza is "+ pizza.title())
    print("i would love to take "+ pizza.title() + " again\n")

this pizza is Okpa
i would love to take Okpa again

this pizza is Agidi
i would love to take Agidi again

this pizza is Moi-Moi
i would love to take Moi-Moi again

### Making Numerical list

In [54]:
#python range function makes it easy to generate a series of number

numbers = list(range(1,7))
print(numbers)

[1, 2, 3, 4, 5, 6]

In [55]:
#we can also use the range function to skip certain values

even_num = list(range(2,11,2))
print(even_num)

[2, 4, 6, 8, 10]

In [56]:
squares = []
for value in range(1,11):
    sqaure = value**2
    squares.append(sqaure)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [57]:
#list comprehension, helps us minimize our coding length
squares = [value**2 for value in range(1,11)]
print(squares)

#step 1 create the variable to store our list
#step 2, which value do you wish to be appended to our list(value**2)
#step 3, write a for loop you want to feed into the expression. all in bracket

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [58]:
num_20 = [value for value in range(1,21)]
print(num_20)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [59]:
odd_num = [value for value in range(1,21,2)]
print(odd_num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [60]:
cube_num = [value**3 for value in range(1,10)] #list comprehension
print(cube_num)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [61]:
cube_num = []
for value in range(1,10):
    cube = value **3
    cube_num.append(cube)
print(cube_num)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

### Working with part of a list

In [62]:
#a slice allows us to work with a group of elements in a list
#to make a slice, we specify the index of the first and last elemnts you want to work with

barca_players = ['messi', 'vidal', 'suarez', 'coutinho','pique','dembele']
print(barca_players[0:3])
print(barca_players[:3])
print(barca_players[3:])
print(barca_players[-3:])

['messi', 'vidal', 'suarez']
['messi', 'vidal', 'suarez']
['coutinho', 'pique', 'dembele']
['coutinho', 'pique', 'dembele']

In [63]:
#loop through a slice
print("here are the best 3 players in barca this season\n ")

for player in barca_players[:3]:
    print(player.title())

here are the best 3 players in barca this season

Messi
Vidal
Suarez

In [64]:
print("here are the best 3 players in barca this season\n")
best_3 = [value.title() for value in barca_players[:3]]
print(best_3)

here are the best 3 players in barca this season

['Messi', 'Vidal', 'Suarez']

In [65]:
#lets see how we can copy an entire list
new_best =best_3[:] #copying our first list
print(new_best)

['Messi', 'Vidal', 'Suarez']

In [66]:
best_3.append('Jong')
new_best.append('semedo')

print(best_3)
'\n'
print(new_best)

['Messi', 'Vidal', 'Suarez', 'Jong']
['Messi', 'Vidal', 'Suarez', 'semedo']

### welcome to tuple

Tuples allow us to create a list of item that can not be changed. This is referred to as being immutable andan immutable list is called tuple

In [67]:
#creating a rectangle with an immutable size change

dimensions = (200, 50) #tuples are defined with paranthesis instead of a square bracket
print(dimensions[0])
print(dimensions[1])

200
50

In [68]:
#lets try to see if we can make a change to the tuple items

dimensions[0] = 300
print(dimensions) #check out the generated error

TypeError: 'tuple' object does not support item assignment

In [69]:
#let us perform a looping in the tuple

for item in dimensions:
    print(item)

200
50

In [70]:
#though we can't modify our tuple, we can do changes to it 
#by assigning a new value to the variable of the tuple
dimensions = (200, 50) 
print("original dimension")
for item in dimensions:
    print(item)
    
#assigning new value to the variable
print("\nmodified dimensions")
dimensions = (400,100) #overwriting tuple in python is valid
for item in dimensions:
    print(item)

original dimension
200
50

modified dimensions
400
100

In [71]:
simple_foods = ('rice', 'indomie', 'beans', 'garri','soup')
print("old menu:")
for food in simple_foods:
    print(food)
    
simple_foods = ('rice', 'indomie', 'onion', 'ofe','soup')
print("\nnew menu:")
for food in simple_foods:
    print(food)

old menu:
rice
indomie
beans
garri
soup

new menu:
rice
indomie
onion
ofe
soup

### IF CONDITION

programming mostly involves examining sets of logic through given conditions. python if statement allows you to examine athe current state of a program and respond appropriately to it.

In [72]:
#lets experiment a simple if condition.

cars = ['bmw','okada','bike','spider','camery','ford']

#using for loop to get through our list
for car in cars:
    if car == 'bmw':
        print(car.upper())
    else:
        print(car.title())

BMW
Okada
Bike
Spider
Camery
Ford

at the heart of every if statement, is an expression that can be evaluated as either true or false. This statement is known as conditional test. python uses the true and false logic to determine if the code in an if statement should be executed.

In [73]:
requested_pizza = 'sharwama'
if requested_pizza != 'mushrooms':
    print("hold on, we only have sharwama now!")

hold on, we only have sharwama now!

In [74]:
#lets do multiple conditions checking

age_0 = 23
age_1 = 24
(age_0 >=23) and (age_1<=24)#only performs when both cases are true

True

In [75]:
age_0 = 23
age_1 = 0
(age_0 >=23) or (age_1>=24)#only performs when either of cases is true

True

In [76]:
#checking whether a value is in the list
pizza = ['akara', 'bread','beancake'] ##dont mind my list, just an example
print('ofe' in pizza)
print('akara' in pizza)

False
True

In [77]:
#checking whether a value is not in a list
pizza = ['akara', 'bread','beancake']
item = 'ofe'
if item not in pizza:
    print(item.title()+ ", you can now enjoy the meal!")

Ofe, you can now enjoy the meal!

### If Statement

In [78]:
#python if statement, processes to a defined result, once the if condition passes the test
age = 18
if age >= 18:
    print("Have you voted?")
    print("You're Eligible to vote")

Have you voted?
You're Eligible to vote

In [79]:
#let us see the function of the if-else statement
age = 17
if age >= 18:
    print("Have you voted?")
    print("You're Eligible to vote")
else:
    print("you're not up to age")

you're not up to age

In [80]:
#if elif, else statement

age = 34
if age <= 4:
    print('admission is free')
elif age >4 and age <=18:
    print('your fee is $5')
else:
    print('your fee is $10')

your fee is $10

In [102]:
#we can make our work easier by:
age = 67
if age <= 4:
    price = 0
elif age < 18:
    price = 5
elif age >= 65:
    price = 10/2
else:
    price = 10
print("your admission fee is $" + str(price) +'.')

#the else statement is a catchall statement. it matches any condition
#that wasn't matched by a specific if or elif test and can somtimes include invalid or malicious data

your admission fee is $5.0.

In [82]:
#testing multiple conditions

ordered_food = ['akara', 'pap','onion','oke']
if 'akara' in ordered_food:
    print('ordered')
if 'pap' in ordered_food:
    print('ordered')
if 'egusi' in ordered_food:
    print('ordered')
    
print("\nfinished making your order")

ordered
ordered

finished making your order

In [83]:
alien_color = ['green','yellow','red']
if 'green' in alien_color:
    print('you just end 5 points')
else:
    print('you lost a point')

you just end 5 points

In [84]:
alien_color = ['green','yellow','red']
if 'orange' in alien_color:
    print('you just end 5 points')
else:
    print('you earned 10 point')

you earned 10 point

In [85]:
lifes_stage =  70

if lifes_stage < 2:
    age = 'baby'
elif lifes_stage <=4:
    age = 'toddler'
elif lifes_stage <13:
    age = 'kid'
elif lifes_stage<=20:
    age = 'teenager'
elif lifes_stage < 65:
    age = 'adult'
else:
    age = 'elder'
print('\nyour age is categorized as ' + str(age) + ".")

your age is categorized as elder.

In [86]:
ordered_food = ['akara', 'pap','onion','oke']
for food in ordered_food:
    print(food.title() + ' has been ordered ' + 'and have been added')
print('\nfinished making your oder')

Akara has been ordered and have been added
Pap has been ordered and have been added
Onion has been ordered and have been added
Oke has been ordered and have been added

finished making your oder

In [87]:
ordered_food = ['akara', 'pap','onion','oke']
for food in ordered_food:
    if food == 'akara':
        print('please be patient ' + 'we are still frying the '+ food)

please be patient we are still frying the akara

In [88]:
ordered_food = []
if ordered_food:
    for food in ordered_food:
        print('We will attend to your request shortly')
else:
    print('are you sure you want a new order?')

are you sure you want a new order?

In [89]:
ordered_food = ['bean']
if ordered_food:
    for food in ordered_food:
        print('We will attend to your request shortly')
else:
    print('are you sure you want a new order?')

We will attend to your request shortly

In [90]:
available_food = ('rice', 'beans', 'indomie', 'fries')
ordered_food = ['rice', 'spaghetti', 'beans', 'fries','stew']

for food in ordered_food:
    if food in available_food:
        print('your request for '+ str(food.title())+ ' has been recieved and its been processed\n')
    else:
        print('we currently dont have '+ str(food.title())+"\n")
print("\nfinished making your order!")

your request for Rice has been recieved and its been processed

we currently dont have Spaghetti

your request for Beans has been recieved and its been processed

your request for Fries has been recieved and its been processed

we currently dont have Stew


finished making your order!

In [91]:
#making a list of our users
users = ('admin','frank','emeka','buchi','okey','nelson')
for name in users:
    if name == 'admin':
        print('Hello Admin, would you like to see the status report so far?\n')
    else:
        print("hello "+ str(name.title()) +" you're welcome\n")

Hello Admin, would you like to see the status report so far?

hello Frank you're welcome

hello Emeka you're welcome

hello Buchi you're welcome

hello Okey you're welcome

hello Nelson you're welcome

In [92]:
#checking for no_user
no_user = []
if no_user:
    for name in no_user:
        print("hello, welcome")       
else:
    print("we urgently need new users today")

we urgently need new users today

In [97]:
current_users = ('admin','frank','emeka','buchi','okey','nelson')
new_users = ['azu', 'buchi', 'okey', 'amara','nelson']

for name in new_users:
    if name in current_users:
        print(str(name.title()) +' taken, choose another name\n')
    else:
        print(str(name.title())+ ' is availabe\n')

Azu is availabe

Buchi taken, choose another name

Okey taken, choose another name

Amara is availabe

Nelson taken, choose another name

In [101]:
#printing ordinal numbers stored in a list
numbers = [1,2,3,4,5,6,7,8,9]
for number in numbers:
    if number == 1:
        print(str(number) +'st')
    elif number == 2:
        print(str(number) +'nd')
    elif number == 3:
        print(str(number) +'rd')
    else:
        print(str(number) +'th')

1st
2nd
3rd
4th
5th
6th
7th
8th
9th